{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>MedWise - Premium Bootstrap Template for Hospitals, Clinics, Doctors - Bootstrap Medical and Health Template</title>
    {% comment %} <link rel="stylesheet" href="{% static 'assets/mobirise-icons2/mobirise2.css' %}' %}"> {% endcomment %}
    <!-- Favicon -->
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    
    <!-- Bootstrap Framework Version 4.5.3 --> 
    <link href="{% static 'css/bootstrap.min.css' %}" type="text/css" rel="stylesheet">
    
    <!-- Ion Icons Version 5.1.0 --> 
    <link href="{% static 'css/ionicons.css' %}" type="text/css" rel="stylesheet">
    
    <!-- Medical Icons -->
    <link href="{% static 'css/medwise-icons.css' %}" type="text/css" rel="stylesheet">
    
    <!-- Stylesheets --> 
    <link href="{% static 'css/vendors.min.css' %}" type="text/css" rel="stylesheet">
    <link href="{% static 'css/style.min.css' %}" type="text/css" rel="stylesheet" id="style">
    <link href="{% static 'css/components.min.css' %}" type="text/css" rel="stylesheet" id="components">

    
    <!-- Revolution Slider 5.4 -->
    <link rel="stylesheet" type="text/css" href="{% static 'slider-revolution/revolution/css/settings.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'slider-revolution/revolution/css/layers.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'slider-revolution/revolution/css/navigation.css' %}">
    
    <!--Google Fonts--> 
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Manrope:wght@300;400;600;800&family=Volkhov:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <style>.rounded-circle{aspect-ratio: 1/1;}</style>
</head>

<body>

    <div class="loader-backdrop">           <!-- Loader -->
        <div class="loader">
            <i class="ion-heart-outline"></i>
        </div>
    </div>
    
    <header class="header-1">           <!-- Header -->
        <div class="topbar">            <!-- Topbar -->
            <div class="container-lg">
                <div class="row no-gutters">
                    <div class="col-md-12">
                        <div class="topbar-items">
                            <ul class="topbar-social d-none d-lg-inline-flex">
                                <li><a href=""><i class="ion-logo-facebook"></i></a></li>
                                <li><a href=""><i class="ion-logo-twitter"></i></a></li>
                                <li><a href=""><i class="ion-logo-youtube"></i></a></li>
                                <li><a href=""><i class="ion-logo-vimeo"></i></a></li>
                            </ul>
                            <ul class="widgets">
                                <li class="region-widget d-none d-lg-inline-flex"><i class="ion-earth"></i> Asia Pacific</li>
                                <li class="email-widget d-none d-lg-inline-flex"><i class="ion-mail-outline"></i> hello@medwise.com</li>
                                <li class="emergency-widget">
                                    <h4 class="emergency">            <!-- Emergency Number -->
                                        <span class="sub-text">Emergency</span>
                                        <span class="number">123-909-909</span><br/>
                                    </h4>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <nav class="navbar navbar-expand-lg sticky-nav">         <!-- Navigation Bar -->
            <div class="container">            
                <a class="navbar-brand" href="index-hospital-classic.html">
                    <img src="{% static 'images/logo-main.webp' %}" alt="" class="logo">         <!-- Replace with your Logo -->
                </a>

                <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#main-navigation">
                    <span class="navbar-toggler-icon">          <!-- Mobile Menu Toggle -->
                        <span class="one"></span>
                        <span class="two"></span>
                        <span class="three"></span>
                    </span>
                </button>

                <div class="navbar-collapse collapse" id="main-navigation">         <!-- Main Menu -->
                    <ul class="navbar-nav">
                        <li class="nav-item "><a href="/">Home</a></li>
                        <li class="nav-item "><a href="#">Forms</a></li>
                        <li class="nav-item "><a href="/about">About Practice</a></li>
                        <li class="nav-item "><a href="/providers">Providers</a></li>
                        <li class="nav-item "><a href="/services">Services</a></li>
                        <li class="nav-item "><a href="#">Patient Portal</a></li>
                        <li class="nav-item "><a href="/contact">Contact</a></li>
                    </ul>
                </div>
            </div>          
        </nav>
    </header>
    {% block content %}{% endblock %}
    <footer class="footer-2">           <!-- Footer Style 2 -->
      <div class="footer-pri">            <!-- Primary Footer -->
          <div class="container">
              <div class="row">
                  <div class="col-lg-4">
                      <div class="widget widget-about">           <!-- Widget -->
                          <a href="index-hospital-classic.html">
                              <img src="{% static 'images/logo-light.svg' %}' %}" class="logo-footer" alt="">
                          </a>
                          <p class="mt-20 footer-text">A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
                          <hr class="mt-30 mb-30" />
                          <h5 class="heading font-bold">Reach Out</h5>
                          <ul class="contact footer-text">
                              <li>
                                  <i class="ion-location-outline"></i>
                                  <div>
                                      <strong>Medwise Hospital</strong>
                                      <br>
                                      4038 Liberty Avenue, California
                                  </div>
                              </li>
                              <li><i class="ion-call-outline"></i> +24 123-456-7878</li>
                              <li><i class="ion-mail-outline"></i> info@example.com</li>
                          </ul>
                          <hr class="mt-30 mb-30" />
                          <h5 class="heading font-bold mb-20">Social Connect</h5>
                          <ul class="social social-round social-2x">
                              <li><a class="facebook" href=""><i class="ion-logo-facebook"></i></a></li>
                              <li><a class="twitter" href=""><i class="ion-logo-twitter"></i></a></li>
                              <li><a class="google" href=""><i class="ion-logo-google"></i></a></li>
                              <li><a class="youtube" href=""><i class="ion-logo-youtube"></i></a></li>
                              <li><a class="whatsapp" href=""><i class="ion-logo-whatsapp"></i></a></li>
                          </ul>
                      </div>
                  </div>
                  <div class="col-lg-4">
                      <hr class="mt-30 mb-30 d-lg-none" />
                      <div class="widget widget-links">           <!-- Widget -->
                          <h5 class="heading font-bold">Useful Links</h5>
                          <ul>
                              <li><a href="book-appointment-form.html">Book Appoitment</a></li>
                              <li><a href="departments-style-1.html">View Departments</a></li>
                              <li><a href="contact-1.html">Our Locations</a></li>
                              <li><a href="doctors-style-2.html">Doctors On Panel</a></li>
                              <li><a href="why-us-1.html">Facilities Available</a></li>
                              <li><a href="about-us-1.html">About Hospital</a></li>
                              <li><a href="policies.html">Hospital Rules</a></li>
                          </ul>
                      </div>
                      <hr class="mt-30 mb-30" />
                      <div class="widget widget-twitter">            <!-- Widget -->
                          <h5 class="heading font-bold">Latest Tweet</h5>
                          <div class="tweets">
                              <ul class="carousel-items">
                                  <li class="tweet-item">
                                      <p>How to tell if the hand sanitizer you’re buying is safe and actually works? <a href="">#askDoctor</a></p>
                                  </li>
                                  <li class="tweet-item">
                                      <p>Screen time doesn’t hurt kids’ social skills, says harvard university <a href="">#healthcare #dailyTips</a></p>
                                  </li>
                                  <li class="tweet-item">
                                      <p>Can clothes and shoes track infection into your house? What to Know <a href="">Read blog here</a></p>
                                  </li>
                              </ul>
                          </div>
                          <a href="" class="btn btn-outline-light curved btn-sm mt-10">Follow Us</a>
                      </div>
                  </div>
                  <div class="col-lg-4">
                      <hr class="mt-30 mb-30 d-lg-none" />
                      <div class="widget widget-timings">            <!-- Widget -->
                          <h5 class="heading font-bold">Hospital Timings</h5>
                          <table class="table table-bordered footer-text">
                              <tr>
                                  <td>Mon - Fri</td>
                                  <td>9:00 am to 6:00 pm</td>
                              </tr>
                              <tr>
                                  <td>Saturday</td>
                                  <td>10:00 am to 1:00 pm</td>
                              </tr>
                              <tr>
                                  <td>Sunday</td>
                                  <td>Weekly Off</td>
                              </tr>
                          </table>
                      </div>
                      <hr class="mt-30 mb-30" />
                      <div class="widget widget-subscribe">           <!-- Widget -->
                          <h5 class="heading font-bold">Subscribe Newsletter</h5>
                          <p class="footer-text">Subscribe to our newsletter for daily health tips</p>
                          <form class="search">   <!-- Search Form -->
                              <div class="input-group">
                                  <input type="text" class="form-control curved style-1" placeholder="Your Email Id">
                                  <div class="input-group-append">
                                      <button class="btn btn-primary curved" type="button">Send</button>
                                  </div>
                              </div>
                          </form>
                      </div>
                      <hr class="mt-30 mb-30" />
                      <div class="widget widget-pay">           <!-- Widget -->
                          <h5 class="heading font-bold">Payment Accepted</h5>
                          <ul class="payment-list">
                              <li class="item">
                                  <img src="{% static 'images/payment-type-1.png' %}" alt="">
                              </li>
                              <li class="item">
                                  <img src="{% static 'images/payment-type-2.png' %}" alt="">
                              </li>
                              <li class="item">
                                  <img src="{% static 'images/payment-type-3.png' %}" alt="">
                              </li>
                              <li class="item">
                                  <img src="{% static 'images/payment-type-4.png' %}" alt="">
                              </li>
                              <li class="item">
                                  <img src="{% static 'images/payment-type-5.png' %}" alt="">
                              </li>
                          </ul> 
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="footer-sec">            <!-- Secondary Footer -->
          <div class="container">
              <div class="row">
                  <div class="col-lg-6 mt-10 mb-10">
                      <ul class="misc-links">
                          <li>
                              <a href="">Privacy Policy</a>
                          </li>
                          <li>
                              <a href="">Terms & Conditions</a>
                          </li>
                          <li>
                              <a href="">Usage Rights</a>
                          </li>
                      </ul>
                  </div>
                  <div class="col-lg-6 mt-10 mb-10 text-right">
                      <p class="mb-0 footer-text text-lg-right text-center">&copy; 2021 All Rights Reserved.
                          <a href="http://wwsthemes.com/" target="_blank" class="font-semi-bold">WWS THEMES</a>
                      </p>
                  </div>
              </div>
          </div>
      </div>
  </footer>

  <div id="back"><i class="ion-chevron-up-sharp"></i></div>

  <!-- Modal -->
  <div class="modal fade" id="modal-video" data-open-onload="false" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
          <div class="modal-content">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="ion-close-sharp"></i></button>
              <div class="modal-body">
                  <div class="container-fluid">
                      <div class="row">
                          <div class="col-lg-12">
                              <div id="video-container"></div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <!-- JQuery Version 3.6.0 -->
  <script src="{% static 'js/jquery.min.js' %}"></script>

  <!-- Bootstrap Version 4.5.3 -->
  <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

  <!-- jQuery UI (Date Picker) -->
  <script src="{% static 'js/jquery-ui.min.js' %}"></script>

  <!-- Slick Slider Version 1.8.1 -->
  <script src="{% static 'js/slick.min.js' %}"></script>

  <!-- Appear JS -->
  <script src="{% static 'js/jquery.appear.min.js' %}"></script>

  <!-- Count To JS -->
  <script src="{% static 'js/jquery.countTo.min.js' %}"></script>

  <!-- Custom JS -->
  <script src="{% static 'js/script.min.js' %}"></script>



  

   <!--Slider Revolution version 5-->
   <script src="{% static 'slider-revolution/revolution/js/jquery.themepunch.tools.min.js' %}"></script>
   <script src="{% static 'slider-revolution/revolution/js/jquery.themepunch.revolution.min.js' %}"></script>

   <!-- Include only when working on Local system. Not required on server -->
   <script src="{% static 'slider-revolution/revolution/js/extensions/revolution.extension.slideanims.min.js' %}"></script>
   <script src="{% static 'slider-revolution/revolution/js/extensions/revolution.extension.migration.min.js' %}"></script>
   <script src="{% static 'slider-revolution/revolution/js/extensions/revolution.extension.actions.min.js' %}"></script>
   <script src="{% static 'slider-revolution/revolution/js/extensions/revolution.extension.layeranimation.min.js' %}"></script>
   <script src="{% static 'slider-revolution/revolution/js/extensions/revolution.extension.navigation.min.js' %}"></script>
   <script src="{% static 'slider-revolution/revolution/js/extensions/revolution.extension.parallax.min.js' %}"></script>


</body>

</html>

{% comment %} {% endblock %} {% endcomment %}