{% extends 'base.html'%}
{% load static %}
{% block content %}

<div class="pt-80 pb-80 bg-light mt-20"
style="background-image:url("{% static 'images/1920-650-2.jpg' %}"); background-size: cover; background-position: center center">
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-8 text-center">
            <div class="icon icon-4x icon-round icon-outline-primary">
                <i class="mw-care font-18"></i>
            </div>
            <h2 class="heading font-bold mt-20 mb-20">Call today to schedule your next appointment,</h2>
            <h3 class="heading font-bold mb-40 text-primary">or Visit either one of our two convenient
                locations.</h3>
            <a href="tel:+13527323005" class="btn btn-primary">
                Call Main Office</a>
            <a href="tel:+13528616633" class="btn btn-outline-primary ml-10">Call West Office</a>
        </div>
    </div>
</div>
</div>
{% endblock %}